﻿.GameScreenWrapper {
    background-color: #222222;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.CanvasOverlay {
    width: 100vw;
    height: 100vh;
    outline: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
